{
  "extends": ["airbnb-base", "plugin:lodash-fp/recommended"],
  "env": {
    "browser": false
  },
  "plugins": ["lodash-fp", "import"],
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "id-length": [2, {
      "min": 3,
      "max": 30,
      "properties": "never",
      "exceptions": ["id", "i"]
    }],
    "import/no-named-as-default": 0,
    "jsx-a11y/href-no-hash": "off",
    "no-console": 1,
    "no-alert": 1,
    "no-trailing-spaces": 2,
    "semi": [ 2, "never" ]
  }
}
